.master {
    min-width: 100%;
    overflow: auto;
  }
  
.buttons_div{
    display: flex;
    align-items: center;
    justify-content: center;
}  

mat-table {
    table-layout: fixed;
    width: 100%;
  }

mat-header-cell {
display:flex;
justify-content:center;
}


.smallWidthClass{
    flex: 0 0 15%;
    font-size:11px;
    line-height: 12px;
 }

.textgroup{
    font-size:100%;
}


mat-button-toggle{
    flex: 1 1 100%;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    display: flex;
    line-height: 8px !important; 
/*     width: 75%; */
}

.mat-row:nth-child(even){
    background-color:whitesmoke;
    }

.mat-row:nth-child(odd){
    background-color:lightgray;
    }
