<div class="master">
<div class="buttons_div"> 
<button mat-flat-button color="primary" (click)="toggle_table('upper')">Upper Canopy</button>
<button mat-flat-button color="primary" (click)="toggle_table('lower')">Lower Canopy</button>
</div>

<div *ngIf="display_upper_table===true">
<mat-table [dataSource]="upper_dataSource" class="example-container mat-elevation-z8">

    <ng-container matColumnDef="Plant_Species">
      <mat-header-cell *matHeaderCellDef [ngClass]="'smallWidthClass'">Plant Species</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'smallWidthClass'"> {{element.Plant_Species}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="Percent_of_Pool">
      <mat-header-cell *matHeaderCellDef [ngClass]="'smallWidthClass'">% of Pool</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'smallWidthClass'"> {{element.Percent_of_Pool}} 
       <div *ngIf="element.Plant_Species==='Millet'" class="small_button">
              {{millet_output}}%
      </div> 
      <div *ngIf="element.Plant_Species==='Foxtail'">
              {{foxtail_output}}%
      </div> 
      <div *ngIf="element.Plant_Species==='Rice Cut Grass'">
          {{rice_cut_output}}%
      </div> 
      <div *ngIf="element.Plant_Species==='Panic Grass'">
          {{panic_grass_output}}%
      </div>
      <div *ngIf="element.Plant_Species==='Crabgrass'">
          {{crabgrass_output}}%
      </div> 
      <div *ngIf="element.Plant_Species==='Sprangletop'">
          {{sprangletop_output}}%
      </div> 
      <div *ngIf="element.Plant_Species==='Lapathifolium'">
          {{lapathifolium_output}}%
      </div> 
      <div *ngIf="element.Plant_Species==='Pennsylvanicum'">
          {{pennsylvanicum_output}}%
      </div> 
      <div *ngIf="element.Plant_Species==='Coccineum'">
          {{coccineum_output}}%
      </div> 
      <div *ngIf="element.Plant_Species==='Water Pepper'">
          {{water_pepper_output}}%
      </div> 
      <div *ngIf="element.Plant_Species==='Pigweed'">
          {{pigweed_output}}%
      </div> 
      <div *ngIf="element.Plant_Species==='Bidens'">
          {{bidens_output}}%
      </div> 

      <div *ngIf="element.Plant_Species==='Other Seed'">
            <mat-form-field style="width:19%"> 
            <input type="text"  matInput [(ngModel)]="other_seed_output" (change)="calculate_percent('Other Seed',$event.value,'NULL','NULL','NULL')">
            <span matSuffix>% &nbsp;</span>
            </mat-form-field>
      </div>

      <div *ngIf="element.Plant_Species==='Non Seed'">
          <mat-form-field style="width:19%"> 
          <input type="text"  matInput [(ngModel)]="non_seed_output" (change)="calculate_percent('Non Seed',$event.value,'NULL','NULL','NULL')">
          <span matSuffix>% &nbsp;</span>
          </mat-form-field>
      </div>

      <div *ngIf="element.Plant_Species==='Open Water'">
          <mat-form-field style="width:19%"> 
          <input type="text"  matInput [(ngModel)]="open_water_output" (change)="calculate_percent('Open Water',$event.value,'NULL','NULL','NULL')">
          <span matSuffix>% &nbsp;</span>
          </mat-form-field>
      </div>

      <div *ngIf="element.Plant_Species==='Recently Disced'">
          <mat-form-field style="width:19%"> 
          <input type="text"  matInput [(ngModel)]="recently_disced_output" (change)="calculate_percent('Recently Disced',$event.value,'NULL','NULL','NULL')">
          <span matSuffix>% &nbsp;</span>
          </mat-form-field>
      </div>

      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Number_of_Seed_Heads">
      <mat-header-cell *matHeaderCellDef [ngClass]="'smallWidthClass'"># of Seed Heads</mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'smallWidthClass'"> {{element.Number_of_Seed_Heads}} 
          <div *ngIf="element.Plant_Species==='Millet'">
            <mat-button-toggle-group [(value)] = "millet_seedhead_values" #group="matButtonToggleGroup" (change)="calculate_percent('Millet',$event.value,millet_plantheight_values,millet_seedheight_values,millet_seeddiameter_values)" vertical>
                    <mat-button-toggle value="1-6" aria-label="1">
                    1-6
                    </mat-button-toggle>
                    <mat-button-toggle value="7-12" aria-label="2">
                      7-12
                    </mat-button-toggle>
                    <mat-button-toggle value="13-18" aria-label="3">
                      13-18
                    </mat-button-toggle>
                    <mat-button-toggle value="19+" aria-label="4">
                      19+
                    </mat-button-toggle>
                  </mat-button-toggle-group>
            </div>
            <div *ngIf="element.Plant_Species==='Foxtail'">
                    <mat-button-toggle-group [(value)] = "foxtail_seedhead_values" #group="matButtonToggleGroup" (change)="calculate_percent('Foxtail',$event.value,'NULL',foxtail_seedheight_values,foxtail_seeddiameter_values)" vertical>
                            <mat-button-toggle value="1-4" aria-label="Text align left">
                            1-4
                            </mat-button-toggle>
                            <mat-button-toggle value="5-8" aria-label="Text align center">
                              5-8
                            </mat-button-toggle>
                            <mat-button-toggle value="9-12" aria-label="Text align right">
                              9-12
                            </mat-button-toggle>
                            <mat-button-toggle value="13+" aria-label="Text align justify">
                              13+
                            </mat-button-toggle>
                      </mat-button-toggle-group>
                          
              </div>
              <div *ngIf="element.Plant_Species==='Rice Cut Grass'">
                <mat-button-toggle-group [(value)] = "ricecutgrass_seedhead_values" #group="matButtonToggleGroup" (change)="calculate_percent('Rice Cut Grass',$event.value,'NULL','NULL','NULL')" vertical>
                        <mat-button-toggle value="1-3" aria-label="Text align left">
                        1-3
                        </mat-button-toggle>
                        <mat-button-toggle value="4-6" aria-label="Text align center">
                          4-6
                        </mat-button-toggle>
                        <mat-button-toggle value="7-9" aria-label="Text align right">
                          7-9
                        </mat-button-toggle>
                        <mat-button-toggle value="10+" aria-label="Text align justify">
                          +10
                        </mat-button-toggle>
                  </mat-button-toggle-group>            
              </div>
              <div *ngIf="element.Plant_Species==='Panic Grass'">
                <mat-button-toggle-group [(value)] = "panicgrass_seedhead_values" #group="matButtonToggleGroup" (change)="calculate_percent('Panic Grass',$event.value,panicgrass_plantheight_values,'NULL','NULL')" vertical>
                        <mat-button-toggle value="-10" aria-label="Text align left">
                        <10
                        </mat-button-toggle>
                        <mat-button-toggle value="10+" aria-label="Text align center">
                        >=10
                        </mat-button-toggle>
                  </mat-button-toggle-group>            
              </div>
              <div *ngIf="element.Plant_Species==='Crabgrass'">
                <mat-button-toggle-group [(value)] = "crabgrass_seedhead_values" #group="matButtonToggleGroup" (change)="calculate_percent('Crabgrass',$event.value,'NULL','NULL','NULL')" vertical>
                        <mat-button-toggle value="-10" aria-label="Text align left">
                        <10
                        </mat-button-toggle>
                        <mat-button-toggle value="+10" aria-label="Text align center">
                        >=10
                        </mat-button-toggle>
                  </mat-button-toggle-group>            
              </div>
              <div *ngIf="element.Plant_Species==='Sprangletop'">
                <mat-button-toggle-group [(value)] = "sprangletop_seedhead_values" #group="matButtonToggleGroup" (change)="calculate_percent('Sprangletop',$event.value,sprangletop_plantheight_values,sprangletop_seedheight_values,sprangletop_seeddiameter_values)" vertical>
                        <mat-button-toggle value="-10" aria-label="Text align left">
                        <10
                        </mat-button-toggle>
                        <mat-button-toggle value="10+" aria-label="Text align center">
                        >=10
                        </mat-button-toggle>
                  </mat-button-toggle-group>            
              </div>
              <div *ngIf="element.Plant_Species==='Lapathifolium'">
                <mat-button-toggle-group [(value)] = "lapathifolium_seedhead_values" #group="matButtonToggleGroup" (change)="calculate_percent('Lapathifolium',$event.value,'NULL','NULL','NULL')" vertical>
                        <mat-button-toggle value="1-12" aria-label="Text align left">
                        1-12
                        </mat-button-toggle>
                        <mat-button-toggle value="13-24" aria-label="Text align center">
                        13-24
                        </mat-button-toggle>
                        <mat-button-toggle value="24-36" aria-label="Text align left">
                        24-36
                        </mat-button-toggle>
                        <mat-button-toggle value="37+" aria-label="Text align center">
                        >=37
                        </mat-button-toggle>
                  </mat-button-toggle-group>            
              </div>
              <div *ngIf="element.Plant_Species==='Pennsylvanicum'">
                <mat-button-toggle-group [(value)] = "pennsylvanicum_seedhead_values" #group="matButtonToggleGroup" (change)="calculate_percent('Pennsylvanicum',$event.value,'NULL','NULL','NULL')" vertical>
                        <mat-button-toggle value="1-12" aria-label="Text align left">
                        1-12
                        </mat-button-toggle>
                        <mat-button-toggle value="13-24" aria-label="Text align center">
                        13-24
                        </mat-button-toggle>
                        <mat-button-toggle value="25-36" aria-label="Text align left">
                        25-36
                        </mat-button-toggle>
                        <mat-button-toggle value="37+" aria-label="Text align center">
                        >=37
                        </mat-button-toggle>
                  </mat-button-toggle-group>            
              </div>
              <div *ngIf="element.Plant_Species==='Coccineum'">
                <mat-button-toggle-group [(value)] = "coccineum_seedhead_values" #group="matButtonToggleGroup" (change)="calculate_percent('Coccineum',$event.value,'NULL','NULL','NULL')" vertical>
                    <mat-button-toggle value="1-12" aria-label="Text align left">
                        1-12
                        </mat-button-toggle>
                        <mat-button-toggle value="13-24" aria-label="Text align center">
                        13-24
                        </mat-button-toggle>
                        <mat-button-toggle value="25-36" aria-label="Text align left">
                        25-36
                        </mat-button-toggle>
                        <mat-button-toggle value="37+" aria-label="Text align center">
                        >=37
                        </mat-button-toggle>
                  </mat-button-toggle-group>            
              </div>
              <div *ngIf="element.Plant_Species==='Water Pepper'">
                <mat-button-toggle-group [(value)] = "water_pepper_seedhead_values" #group="matButtonToggleGroup" (change)="calculate_percent('Water Pepper',$event.value,water_pepper_plantheight_values,water_pepper_seedheight_values,water_pepper_seeddiameter_values)" vertical>
                    <mat-button-toggle value="1-12" aria-label="Text align left">
                        1-12
                        </mat-button-toggle>
                        <mat-button-toggle value="13-24" aria-label="Text align center">
                        13-24
                        </mat-button-toggle>
                        <mat-button-toggle value="25-36" aria-label="Text align left">
                        25-36
                        </mat-button-toggle>
                        <mat-button-toggle value="37+" aria-label="Text align center">
                        >=37
                        </mat-button-toggle>
                  </mat-button-toggle-group>            
              </div>
              <div *ngIf="element.Plant_Species==='Pigweed'">
                <mat-button-toggle-group [(value)] = "pigweed_seedhead_values" #group="matButtonToggleGroup" (change)="calculate_percent('Pigweed',$event.value,'NULL','NULL','NULL')" vertical>
                        <mat-button-toggle value="1" aria-label="Text align left">
                        1
                        </mat-button-toggle>
                        <mat-button-toggle value="2" aria-label="Text align center">
                        2
                        </mat-button-toggle>
                        <mat-button-toggle value="3" aria-label="Text align left">
                        3
                        </mat-button-toggle>
                  </mat-button-toggle-group>            
              </div>
              <div *ngIf="element.Plant_Species==='Bidens'">
                <mat-button-toggle-group [(value)] = "bidens_seedhead_values" #group="matButtonToggleGroup" (change)="calculate_percent('Bidens',$event.value,'NULL','NULL','NULL')" vertical>
                      <mat-button-toggle value="1" aria-label="Text align left">
                      1
                      </mat-button-toggle>
                      <mat-button-toggle value="2" aria-label="Text align center">
                      2
                      </mat-button-toggle>
                      <mat-button-toggle value="3" aria-label="Text align left">
                      3
                      </mat-button-toggle>
                  </mat-button-toggle-group>            
              </div>
      </mat-cell>
    </ng-container>
  

    <ng-container matColumnDef="Plant_Height">
      <mat-header-cell *matHeaderCellDef [ngClass]="'smallWidthClass'">Plant Height</mat-header-cell>
      <mat-cell *matCellDef="let element"[ngClass]="'smallWidthClass'" > {{element.Plant_Height}} 
            <div *ngIf="element.Plant_Species==='Millet'">
                    <mat-button-toggle-group [(value)] = "millet_plantheight_values" #group="matButtonToggleGroup" (change)="calculate_percent('Millet',millet_seedhead_values,$event.value,millet_seedheight_values,millet_seeddiameter_values)" vertical>
                            <mat-button-toggle value="0.10-0.50" aria-label="1">
                            10-50
                            </mat-button-toggle>
                            <mat-button-toggle value="0.60-1.00" aria-label="2">
                            60-100
                            </mat-button-toggle>
                            <mat-button-toggle value="1.10-1.50" aria-label="3">
                            110-150
                            </mat-button-toggle>
                            <mat-button-toggle value="160+" aria-label="4">
                            160+
                            </mat-button-toggle>
                    </mat-button-toggle-group>
            </div>
            <div *ngIf="element.Plant_Species==='Panic Grass'">
                    <mat-button-toggle-group [(value)] = "panicgrass_plantheight_values" #group="matButtonToggleGroup" (change)="calculate_percent('Panic Grass',panicgrass_seedhead_values,$event.value,'NULL','NULL')" vertical>
                          <mat-button-toggle value="100-" aria-label="1">
                          <100
                          </mat-button-toggle>
                          <mat-button-toggle value="100+" aria-label="2">
                          >=100
                          </mat-button-toggle>
                    </mat-button-toggle-group>
            </div>
            <div *ngIf="element.Plant_Species==='Sprangletop'">
              <mat-button-toggle-group [(value)] = "sprangletop_plantheight_values" #group="matButtonToggleGroup" (change)="calculate_percent('Sprangletop',sprangletop_seedhead_values,$event.value,sprangletop_seedheight_values,sprangletop_seeddiameter_values)" vertical>
                  <mat-button-toggle value="50-" aria-label="1">
                      <50
                      </mat-button-toggle>
                      <mat-button-toggle value="50+" aria-label="2">
                      >=50
                      </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div *ngIf="element.Plant_Species==='Water Pepper'">
              <mat-button-toggle-group [(value)] = "water_pepper_plantheight_values" #group="matButtonToggleGroup" (change)="calculate_percent('Water Pepper',water_pepper_seedhead_values,$event.value,water_pepper_seedheight_values,water_pepper_seeddiameter_values)" vertical>
                    <mat-button-toggle value="30-" aria-label="1">
                    <=30
                    </mat-button-toggle>
                    <mat-button-toggle value="40-60" aria-label="2">
                    40-60
                    </mat-button-toggle>
                    <mat-button-toggle value="70-90" aria-label="1">
                    70-90
                    </mat-button-toggle>
                    <mat-button-toggle value="91+" aria-label="2">
                    >=91
                    </mat-button-toggle>
              </mat-button-toggle-group>
            </div>
            <div *ngIf="element.Plant_Species==='Pigweed'">
                (1=small, 2=moderate, 3=large amount of seed)
            </div>
            <div *ngIf="element.Plant_Species==='Bidens'">
                (1=small, 2=moderate, 3=large amount of seed)
            </div>

        </mat-cell> 
    </ng-container>


    <ng-container matColumnDef="Seed_Height">
        <mat-header-cell *matHeaderCellDef [ngClass]="'smallWidthClass'">Seed Height</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'smallWidthClass'"> {{element.Seed_Height}}
                <div *ngIf="element.Plant_Species==='Millet'">
                        <mat-button-toggle-group [(value)] = "millet_seedheight_values" #group="matButtonToggleGroup" (change)="calculate_percent('Millet',millet_seedhead_values,millet_plantheight_values,$event.value,millet_seeddiameter_values)" vertical>
                                <mat-button-toggle value="1-6" aria-label="1">
                                1-6
                                </mat-button-toggle>
                                <mat-button-toggle value="7-12" aria-label="2">
                                7-12
                                </mat-button-toggle>
                                <mat-button-toggle value="13-18" aria-label="3">
                                13-18
                                </mat-button-toggle>
                                <mat-button-toggle value="19+" aria-label="4">
                                19+
                                </mat-button-toggle>
                              </mat-button-toggle-group>
                </div>
                <div *ngIf="element.Plant_Species==='Foxtail'">
                        <mat-button-toggle-group [(value)] = "foxtail_seedheight_values" #group="matButtonToggleGroup" (change)="calculate_percent('Foxtail',foxtail_seedhead_values,'NULL',$event.value,foxtail_seeddiameter_values)" vertical>
                                <mat-button-toggle value="1-3" aria-label="1">
                                1-3
                                </mat-button-toggle>
                                <mat-button-toggle value="4-6" aria-label="2">
                                4-6
                                </mat-button-toggle>
                                <mat-button-toggle value="7-9" aria-label="3">
                                7-9
                                </mat-button-toggle>
                                <mat-button-toggle value="10+" aria-label="4">
                                10+
                                </mat-button-toggle>
                              </mat-button-toggle-group>
                </div>
                <div *ngIf="element.Plant_Species==='Sprangletop'">
                  <mat-button-toggle-group [(value)] = "sprangletop_seedheight_values" #group="matButtonToggleGroup" (change)="calculate_percent('Sprangletop',sprangletop_seedhead_values,sprangletop_plantheight_values,$event.value,sprangletop_seeddiameter_values)" vertical>
                          <mat-button-toggle value="15-" aria-label="1">
                          <15
                          </mat-button-toggle>
                          <mat-button-toggle value="15+" aria-label="2">
                          >=15
                          </mat-button-toggle>
                        </mat-button-toggle-group>
                </div>
                <div *ngIf="element.Plant_Species==='Water Pepper'">
                  <mat-button-toggle-group [(value)] = "water_pepper_seedheight_values" #group="matButtonToggleGroup" (change)="calculate_percent('Water Pepper',water_pepper_seedhead_values,water_pepper_plantheight_values,$event.value,water_pepper_seeddiameter_values)" vertical>
                          <mat-button-toggle value="1-3" aria-label="1">
                          1-3
                          </mat-button-toggle>
                          <mat-button-toggle value="4-6" aria-label="2">
                          4-6
                          </mat-button-toggle>
                          <mat-button-toggle value="7-9" aria-label="3">
                          7-9
                          </mat-button-toggle>
                          <mat-button-toggle value="10+" aria-label="4">
                          10+
                          </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Seed_Diameter">
        <mat-header-cell *matHeaderCellDef [ngClass]="'smallWidthClass'">Seed Diameter</mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'smallWidthClass'"> {{element.Seed_Diameter}} 
                <div *ngIf="element.Plant_Species==='Millet'">
                        <mat-button-toggle-group [(value)] = "millet_seeddiameter_values" #group="matButtonToggleGroup" (change)="calculate_percent('Millet',millet_seedhead_values,millet_plantheight_values,millet_seedheight_values,$event.value)" vertical>
                                <mat-button-toggle value="1-4" aria-label="1">
                                1-4
                                </mat-button-toggle>
                                <mat-button-toggle value="5-8" aria-label="2">
                                5-8
                                </mat-button-toggle>
                                <mat-button-toggle value="9-12" aria-label="3">
                                9-12
                                </mat-button-toggle>
                                <mat-button-toggle value="13+" aria-label="4">
                                13+
                                </mat-button-toggle>
                        </mat-button-toggle-group>
                </div>
                <div *ngIf="element.Plant_Species==='Foxtail'">
                        <mat-button-toggle-group [(value)] = "foxtail_seeddiameter_values" #group="matButtonToggleGroup" (change)="calculate_percent('Foxtail',foxtail_seedhead_values,'NULL',foxtail_seedheight_values,$event.value)" vertical>
                                <mat-button-toggle value="0-0.6" aria-label="1">
                                0-0.6
                                </mat-button-toggle>
                                <mat-button-toggle value="0.7-1.2" aria-label="2">
                                0.7-1.2
                                </mat-button-toggle>
                                <mat-button-toggle value="1.3-1.8" aria-label="3">
                                1.3-1.8
                                </mat-button-toggle>
                                <mat-button-toggle value="1.9+" aria-label="4">
                                1.9+
                                </mat-button-toggle>
                              </mat-button-toggle-group>
                </div>
                <div *ngIf="element.Plant_Species==='Sprangletop'">
                  <mat-button-toggle-group [(value)] = "sprangletop_seeddiameter_values" #group="matButtonToggleGroup" (change)="calculate_percent('Sprangletop',sprangletop_seedhead_values,sprangletop_plantheight_values,sprangletop_seedheight_values,$event.value)" vertical>
                          <mat-button-toggle value="8-" aria-label="1">
                          <8
                          </mat-button-toggle>
                          <mat-button-toggle value="8+" aria-label="2">
                          >=8
                          </mat-button-toggle>
                        </mat-button-toggle-group>
                </div>
                <div *ngIf="element.Plant_Species==='Water Pepper'">
                  <mat-button-toggle-group [(value)] = "water_pepper_seeddiameter_values" #group="matButtonToggleGroup" (change)="calculate_percent('Water Pepper',water_pepper_seedhead_values,water_pepper_plantheight_values,water_pepper_seedheight_values,$event.value)" vertical>
                          <mat-button-toggle value="0-0.3" aria-label="1">
                          0-0.3
                          </mat-button-toggle>
                          <mat-button-toggle value="0.4-0.6" aria-label="2">
                          0.4-0.6
                          </mat-button-toggle>
                          <mat-button-toggle value="0.7-0.9" aria-label="1">
                          0.7-0.9
                          </mat-button-toggle>
                          <mat-button-toggle value="1.0+" aria-label="2">
                          >=1.0
                          </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="uppercanopy">
        <mat-header-cell *matHeaderCellDef> Upper Canopy </mat-header-cell>
        <mat-cell></mat-cell>
        <td mat-footer-cell *matFooterCellDef> Total {{upper_total}} %              (Must equal 100%)</td>
      </ng-container>


    <mat-header-row *matHeaderRowDef="['uppercanopy'] sticky: true"></mat-header-row>
    <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
    
    
    <mat-row *matRowDef="let row ; columns: displayedColumns;"></mat-row>  
    <mat-footer-row *matFooterRowDef="['uppercanopy'] sticky: true"></mat-footer-row>

</mat-table>
</div>








<div *ngIf="display_lower_table===true">
<mat-table [dataSource]="lower_dataSource" class="example-container mat-elevation-z8">

    <ng-container matColumnDef="Plant_Species">
      <mat-header-cell *matHeaderCellDef [ngClass]="'smallWidthClass'"> Plant Species </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'smallWidthClass'"> {{element.Plant_Species}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="Percent_of_Pool">
      <mat-header-cell *matHeaderCellDef [ngClass]="'smallWidthClass'"> Percent of Pool  </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'smallWidthClass'"> {{element.Percent_of_Pool}} 
       <div *ngIf="element.Plant_Species==='Chufa'" layout="row" layout-align="start center" flex>
            <button mat-flat-button color="primary" (click)="calculate_percent('Chufa',chufa_seedhead_values,'NULL','NULL',chufa_seeddiameter_values)">Calculate</button>
            <span flex></span>
            {{chufa_output}}%
      </div> 
      <div *ngIf="element.Plant_Species==='Redroot'">
            <button mat-flat-button color="primary" (click)="calculate_percent('Redroot',redroot_seedhead_values,'NULL',redroot_seedheight_values,redroot_seeddiameter_values)">Calculate</button>
              {{redroot_output}}%
      </div> 
      <div *ngIf="element.Plant_Species==='Sedge'">
        <button mat-flat-button color="primary" (click)="calculate_percent('Sedge',sedge_seedhead_values,sedge_plantheight_values,'NULL','NULL')">Calculate</button>
          {{sedge_output}}%
      </div> 
      <div *ngIf="element.Plant_Species==='Rush'">
        <button mat-flat-button color="primary" (click)="calculate_percent('Rush','NULL','NULL','NULL')">Calculate</button>
          {{rush_output}}%
      </div>
 
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Number_of_Seed_Heads">
      <mat-header-cell *matHeaderCellDef [ngClass]="'smallWidthClass'"> Number of Seed Heads </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="'smallWidthClass'"> {{element.Number_of_Seed_Heads}} 
          <div *ngIf="element.Plant_Species==='Chufa'">
            <mat-button-toggle-group [(value)] = "chufa_seedhead_values" #group="matButtonToggleGroup" vertical>
                    <mat-button-toggle value="1-3" aria-label="1">
                    1-3
                    </mat-button-toggle>
                    <mat-button-toggle value="4-6" aria-label="2">
                    4-6
                    </mat-button-toggle>
                    <mat-button-toggle value="7-9" aria-label="3">
                    7-9
                    </mat-button-toggle>
                    <mat-button-toggle value="10+" aria-label="4">
                    >=10
                    </mat-button-toggle>
                  </mat-button-toggle-group>
            </div>
            <div *ngIf="element.Plant_Species==='Redroot'">
                    <mat-button-toggle-group [(value)] = "redroot_seedhead_values" #group="matButtonToggleGroup" vertical>
                        <mat-button-toggle value="1-2" aria-label="Text align left">
                            1-2
                            </mat-button-toggle>
                            <mat-button-toggle value="3-4" aria-label="Text align center">
                            3-4
                            </mat-button-toggle>
                            <mat-button-toggle value="5+" aria-label="Text align right">
                            5+
                            </mat-button-toggle>
                      </mat-button-toggle-group>
                          
              </div>
              <div *ngIf="element.Plant_Species==='Sedge'">
                <mat-button-toggle-group [(value)] = "sedge_seedhead_values" #group="matButtonToggleGroup" vertical>
                        <mat-button-toggle value="5-" aria-label="Text align left">
                        <5
                        </mat-button-toggle>
                        <mat-button-toggle value="5+" aria-label="Text align center">
                        >=5
                        </mat-button-toggle>
                  </mat-button-toggle-group>            
              </div>
      </mat-cell>
    </ng-container>
  

    <ng-container matColumnDef="Plant_Height">
      <mat-header-cell *matHeaderCellDef [ngClass]="'smallWidthClass'"> Plant Height </mat-header-cell>
      <mat-cell *matCellDef="let element"[ngClass]="'smallWidthClass'"> {{element.Plant_Height}} 
            <div *ngIf="element.Plant_Species==='Sedge'">
                    <mat-button-toggle-group [(value)] = "sedge_plantheight_values" #group="matButtonToggleGroup" vertical>
                            <mat-button-toggle value="50-" aria-label="1">
                            <50
                            </mat-button-toggle>
                            <mat-button-toggle value="50+" aria-label="2">
                            >=50
                            </mat-button-toggle>
                    </mat-button-toggle-group>
            </div>
        </mat-cell> 
    </ng-container>


    <ng-container matColumnDef="Seed_Height">
        <mat-header-cell *matHeaderCellDef [ngClass]="'smallWidthClass'"> Seed Height </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'smallWidthClass'"> {{element.Seed_Height}}
                <div *ngIf="element.Plant_Species==='Redroot'">
                        <mat-button-toggle-group [(value)] = "redroot_seedheight_values" #group="matButtonToggleGroup" vertical>
                                <mat-button-toggle value="1-6" aria-label="1">
                                1-4
                                </mat-button-toggle>
                                <mat-button-toggle value="7-12" aria-label="2">
                                5-9
                                </mat-button-toggle>
                                <mat-button-toggle value="13-18" aria-label="3">
                                >=10
                                </mat-button-toggle>
                          </mat-button-toggle-group>
                </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Seed_Diameter">
        <mat-header-cell *matHeaderCellDef [ngClass]="'smallWidthClass'"> Seed Diameter </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngClass]="'smallWidthClass'"> {{element.Seed_Diameter}} 
                <div [ngClass]="'textgroup'" *ngIf="element.Plant_Species==='Chufa'">
                        <mat-button-toggle-group [(value)] = "chufa_seeddiameter_values" #group="matButtonToggleGroup" vertical>
                                <mat-button-toggle value="0-6" aria-label="1">
                                0-6
                                </mat-button-toggle>
                                <mat-button-toggle value="7-12" aria-label="2">
                                7-12
                                </mat-button-toggle>
                                <mat-button-toggle value="13-18" aria-label="3">
                                13
                                </mat-button-toggle>
                                <mat-button-toggle value="19+" aria-label="4">
                                >=19
                                </mat-button-toggle>
                        </mat-button-toggle-group>
                </div>
                <div *ngIf="element.Plant_Species==='Redroot'">
                        <mat-button-toggle-group [(value)] = "redroot_seeddiameter_values" #group="matButtonToggleGroup" vertical>
                            <mat-button-toggle value="1-6" aria-label="1">
                                1-4
                                </mat-button-toggle>
                                <mat-button-toggle value="7-12" aria-label="2">
                                5-9
                                </mat-button-toggle>
                                <mat-button-toggle value="13-18" aria-label="3">
                                >=10
                                </mat-button-toggle>
                          </mat-button-toggle-group>
                </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lowercanopy">
          <mat-header-cell *matHeaderCellDef> Lower Canopy</mat-header-cell>
          <mat-cell></mat-cell>
          <td mat-footer-cell *matFooterCellDef> Total:  {{lower_total}}%    (Percentages do not need to equal 100%)</td> 
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="['lowercanopy'] sticky: true"></mat-header-row>
    <mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row ; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['lowercanopy'] sticky: true"></mat-footer-row>

</mat-table>

</div>
</div>

