<h1>Biweekly Water Status And Food Availability</h1>
<mat-grid-list [cols]="breakpoint_top" rowHeight="200px" (window:resize)="onResize($event)">
        <mat-grid-tile>
            <mat-card class="example-container">
                <h3>Parameters</h3>
                <div fxLayout="row"  fxLayoutGap="30%">
                    <div fxFlex="1%"> 
                        <mat-form-field>
                            <mat-select placeholder="Conservation Area" [(ngModel)]="selected_CA" (ngModelChange)="getUnits($event)">
                            <mat-option *ngFor="let x of CA_list" [value]="x">
                                {{x}}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="1%"> 
                        <mat-form-field>
                            <mat-select placeholder="Pool Unit" [(ngModel)]="selected_unit" (ngModelChange)="getPools(selected_CA,$event)">
                            <mat-option *ngFor="let x of unit_list" [value]="x">
                                {{x}}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="1%"> 
                        <mat-form-field>
                            <mat-select placeholder="Pool" [(ngModel)]="selected_Pool" (ngModelChange)="getprevWaterFood(selected_CA,selected_unit,$event,'')">
                            <mat-option *ngFor="let x of Pool_list" [value]="x">
                                {{x}}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> 
                </div>
                <div fxFlex="1%"> 
                        <mat-form-field>
                            <mat-select placeholder="Date" [(ngModel)]="selected_date" (ngModelChange)="updateWaterFood(selected_CA,selected_unit,selected_Pool,$event)">
                            <mat-option *ngFor="let x of date_list" [value]="x">
                                {{x}}
                            </mat-option>
                            </mat-select>
                        </mat-form-field>
                </div>
                </mat-card>
        </mat-grid-tile>
</mat-grid-list>




<mat-grid-list [cols]="breakpoint" rowHeight="875px" (window:resize)="onResize($event)">
<mat-grid-tile>
<mat-card class="example-container">
<div fxLayout="row"  fxLayoutGap="5%">
        <div fxFlex="100%"> 
            <mat-form-field class="prev">  
            <input type="text" [(ngModel)]="this.prev_data['Date']" [disabled]='true' matInput placeholder="Last Record Date">
            </mat-form-field>
        </div> 
</div>


<div fxLayout="row" fxLayoutGap="0.5%">
        <div fxFlex="75%">

        </div>
        <div class="previous" fxFlex="25%">
                Previous Entry
        </div> 
</div>


<div fxLayout="row" fxLayoutGap="0.5%">
    <div fxFlex="75%">
        <mat-form-field class="wmgmt">
            <input type="text" [(ngModel)]="newWaterFood.percent_of_full_pool"  [ngModelOptions]="{standalone:true}" matInput placeholder="Percent of Full Pool">
        </mat-form-field>
    </div> 
    <div fxFlex="25%">
            <mat-form-field class="wmgmt">
                <input type="text" [(ngModel)]="this.prev_data['Percent_of_Pool_Full']" [disabled]='true' matInput placeholder="">
            </mat-form-field>
        </div> 
</div>


<h3>Percent of Pool Flooded at Following Depths</h3>

<div fxLayout="row" fxLayoutGap="0.5%">
        <div fxFlex="75%">

        </div>
        <div class="previous" fxFlex="25%">
                Previous Entry
        </div> 
</div>

<div fxLayout="row" fxLayoutGap="0.7%">
    <div fxFlex="75%"> 
        <mat-form-field class="wmgmt">
            <input type="text" [(ngModel)]="newWaterFood.less_than_six"  [ngModelOptions]="{standalone:true}" matInput placeholder="Less than 6 inches">
        </mat-form-field>
    </div> 
    <div fxFlex="25%">
        <mat-form-field class="wmgmt"> 
            <input type="text" [(ngModel)]="this.prev_data['less_than_six']" [disabled]='true' matInput placeholder="">
        </mat-form-field>
    </div> 
</div>

<div fxLayout="row" fxLayoutGap="0.5%">
    <div fxFlex="75%"> 
        <mat-form-field class="wmgmt">
            <input type="text" [(ngModel)]="newWaterFood.seven_to_twelve"  [ngModelOptions]="{standalone:true}" matInput placeholder="7-12 inches">
        </mat-form-field>
    </div> 
    <div fxFlex="25%">
        <mat-form-field class="wmgmt"> 
            <input type="text" [(ngModel)]="this.prev_data['seven_to_twelve']" [disabled]='true' matInput placeholder="">
        </mat-form-field>
    </div> 
</div>

<div fxLayout="row" fxLayoutGap="0.5%">
    <div fxFlex="75%"> 
        <mat-form-field class="wmgmt">
            <input type="text" [(ngModel)]="newWaterFood.thirteen_or_more"  [ngModelOptions]="{standalone:true}" matInput placeholder="13 or more inches">
        </mat-form-field>
    </div> 
    <div fxFlex="25%">
        <mat-form-field class="wmgmt"> 
            <input type="text" [(ngModel)]="this.prev_data['thirteen_or_more']" [disabled]='true' matInput placeholder="">
        </mat-form-field>
    </div> 
</div>
</mat-card>
</mat-grid-tile>



<mat-grid-tile>
<mat-card>
<h3>Percentage of Habitat Flooded</h3>

    <div fxLayout="row" fxLayoutGap="0.5%">
        <div fxFlex="75%">

        </div>
        <div class="previous" fxFlex="25%">
                Previous Entry
        </div> 
    </div>

     <div fxLayout="row" fxLayoutGap="0.5%">
        <div fxFlex="75%"> 
            <mat-form-field class="wmgmt">
                <input type="text" [(ngModel)]="newWaterFood.habitat_standing"  [ngModelOptions]="{standalone:true}" matInput placeholder="Moist Soil Standing">
            </mat-form-field>
        </div> 
        <div fxFlex="25%">
            <mat-form-field class="wmgmt"> 
                <input type="text" [(ngModel)]="this.prev_data['habitat_standing']" [disabled]='true'  matInput placeholder="">
            </mat-form-field>
        </div> 
    </div>

    
    <div fxLayout="row" fxLayoutGap="0.5%">
        <div fxFlex="75%"> 
                <mat-form-field class="wmgmt">
                    <input type="text" [(ngModel)]="newWaterFood.habitat_mowed"  [ngModelOptions]="{standalone:true}" matInput placeholder="Moist Soil Mowed">
                  </mat-form-field>   
        </div> 
        <div fxFlex="25%">
            <mat-form-field class="wmgmt"> 
                <input type="text" [(ngModel)]="this.prev_data['habitat_mowed']" [disabled]='true' matInput placeholder="">
            </mat-form-field>
        </div> 
    </div>
    
    <div fxLayout="row" fxLayoutGap="0.5%">
        <div fxFlex="75%"> 
                <mat-form-field class="wmgmt">
                    <input type="text"  [(ngModel)]="newWaterFood.habitat_disced"  [ngModelOptions]="{standalone:true}" matInput placeholder="Moist Soil Disced">
                  </mat-form-field>   
        </div> 
        <div fxFlex="25%">
            <mat-form-field class="wmgmt"> 
    
                <input type="text" [(ngModel)]="this.prev_data['habitat_disced']" [disabled]='true' matInput placeholder="">
            </mat-form-field>
        </div> 
    </div>
    
    <div fxLayout="row" fxLayoutGap="0.5%">
            <div fxFlex="75%"> 
                <mat-form-field class="wmgmt">
                    <input type="text" [(ngModel)]="newWaterFood.habitat_unharv_corn"  [ngModelOptions]="{standalone:true}" matInput placeholder="Unharvested Corn">
                </mat-form-field>
            </div> 
            <div fxFlex="25%">
                <mat-form-field class="wmgmt"> 
                    <input type="text" [(ngModel)]="this.prev_data['habitat_unharv_corn']" [disabled]='true'  matInput placeholder="">
                </mat-form-field>
            </div> 
    </div>
        
        <div fxLayout="row" fxLayoutGap="0.5%">
            <div fxFlex="75%"> 
                    <mat-form-field class="wmgmt">
                        <input type="text" [(ngModel)]="newWaterFood.habitat_harv_corn"  [ngModelOptions]="{standalone:true}" matInput placeholder="Harvested Corn">
                      </mat-form-field>   
            </div> 
            <div fxFlex="25%">
                <mat-form-field class="wmgmt"> 
                    <input type="text" [(ngModel)]="this.prev_data['habitat_harv_corn']" [disabled]='true' matInput placeholder="">
                </mat-form-field>
            </div> 
        </div>
        
        <div fxLayout="row" fxLayoutGap="0.5%">
            <div fxFlex="75%"> 
                    <mat-form-field class="wmgmt">
                        <input type="text"  [(ngModel)]="newWaterFood.habitat_unharv_milo"  [ngModelOptions]="{standalone:true}" matInput placeholder="Unharvested Milo">
                      </mat-form-field>   
            </div> 
            <div fxFlex="25%">
                <mat-form-field class="wmgmt"> 
                    <input type="text" [(ngModel)]="this.prev_data['habitat_unharv_milo']" [disabled]='true' matInput placeholder="">
                </mat-form-field>
            </div> 
        </div>
        <div fxLayout="row" fxLayoutGap="0.5%">
                <div fxFlex="75%"> 
                        <mat-form-field class="wmgmt">
                            <input type="text"  [(ngModel)]="newWaterFood.habitat_harv_milo"  [ngModelOptions]="{standalone:true}" matInput placeholder="Harvested Milo">
                          </mat-form-field>   
                </div> 
                <div fxFlex="25%">
                    <mat-form-field class="wmgmt"> 
            
                        <input type="text" [(ngModel)]="this.prev_data['habitat_harv_milo']" [disabled]='true' matInput placeholder="">
                    </mat-form-field>
                </div> 
            </div>
            
            <div fxLayout="row" fxLayoutGap="0.5%">
                    <div fxFlex="75%"> 
                        <mat-form-field class="wmgmt">
                            <input type="text" [(ngModel)]="newWaterFood.habitat_unharv_beans"  [ngModelOptions]="{standalone:true}" matInput placeholder="Unharvested Beans">
                        </mat-form-field>
                    </div> 
                    <div fxFlex="25%">
                        <mat-form-field class="wmgmt"> 
                            <input type="text" [(ngModel)]="this.prev_data['habitat_unharv_beans']" [disabled]='true'  matInput placeholder="">
                        </mat-form-field>
                    </div> 
            </div>

            <div fxLayout="row" fxLayoutGap="0.5%">
                <div fxFlex="75%"> 
                    <mat-form-field class="wmgmt">
                        <input type="text" [(ngModel)]="newWaterFood.habitat_harv_beans"  [ngModelOptions]="{standalone:true}" matInput placeholder="Harvested Beans">
                    </mat-form-field>
                </div> 
                <div fxFlex="25%">
                    <mat-form-field class="wmgmt"> 
                        <input type="text" [(ngModel)]="this.prev_data['habitat_harv_beans']" [disabled]='true'  matInput placeholder="">
                    </mat-form-field>
                </div> 
        </div>
                
                <div fxLayout="row" fxLayoutGap="0.5%">
                    <div fxFlex="75%"> 
                            <mat-form-field class="wmgmt">
                                <input type="text" [(ngModel)]="newWaterFood.habitat_browse"  [ngModelOptions]="{standalone:true}" matInput placeholder="Green Browse">
                              </mat-form-field>   
                    </div> 
                    <div fxFlex="25%">
                        <mat-form-field class="wmgmt"> 
                            <input type="text" [(ngModel)]="this.prev_data['habitat_browse']" [disabled]='true' matInput placeholder="">
                        </mat-form-field>
                    </div> 
                </div> 
    </mat-card>  
</mat-grid-tile>
 
<mat-grid-tile>
        <mat-card>
        <h3>Percentage of Ice on Flooded Habitat</h3>

            <div fxLayout="row" fxLayoutGap="0.5%">
                <div fxFlex="75%">
        
                </div>
                <div class="previous" fxFlex="25%">
                        Previous Entry
                </div> 
            </div>
        
             <div fxLayout="row" fxLayoutGap="0.5%">
                <div fxFlex="75%"> 
                    <mat-form-field class="wmgmt">
                        <input type="text" [(ngModel)]="newWaterFood.ice_standing"  [ngModelOptions]="{standalone:true}" matInput placeholder="Moist Soil Standing">
                    </mat-form-field>
                </div> 
                <div fxFlex="25%">
                    <mat-form-field class="wmgmt">   
                        <input type="text" [(ngModel)]="this.prev_data['ice_standing']" [disabled]='true'  matInput placeholder="">
                    </mat-form-field>
                </div> 
            </div>
        
            
            <div fxLayout="row" fxLayoutGap="0.5%">
                <div fxFlex="75%"> 
                        <mat-form-field class="wmgmt">
                            <input type="text" [(ngModel)]="newWaterFood.ice_mowed"  [ngModelOptions]="{standalone:true}" matInput placeholder="Moist Soil Mowed">
                          </mat-form-field>   
                </div> 
                <div fxFlex="25%">
                    <mat-form-field class="wmgmt"> 
                        <input type="text" [(ngModel)]="this.prev_data['ice_mowed']" [disabled]='true' matInput placeholder="">
                    </mat-form-field>
                </div> 
            </div>
            
            <div fxLayout="row" fxLayoutGap="0.5%">
                <div fxFlex="75%"> 
                        <mat-form-field class="wmgmt">
                            <input type="text"  [(ngModel)]="newWaterFood.ice_disced"  [ngModelOptions]="{standalone:true}" matInput placeholder="Moist Soil Disced">
                          </mat-form-field>   
                </div> 
                <div fxFlex="25%">
                    <mat-form-field class="wmgmt" > 
                        <input type="text" [(ngModel)]="this.prev_data['ice_mowed']" [disabled]='true' matInput placeholder="">
                    </mat-form-field>
                </div> 
            </div>
            
            <div fxLayout="row" fxLayoutGap="0.5%">
                    <div fxFlex="75%"> 
                        <mat-form-field class="wmgmt">
                            <input type="text" [(ngModel)]="newWaterFood.ice_unharv_corn"  [ngModelOptions]="{standalone:true}" matInput placeholder="Unharvested Corn">
                        </mat-form-field>
                    </div> 
                    <div fxFlex="25%">
                        <mat-form-field class="wmgmt"> 
                            <input type="text" [(ngModel)]="this.prev_data['ice_unharv_corn']" [disabled]='true'  matInput placeholder="">
                        </mat-form-field>
                    </div> 
            </div>
                
                <div fxLayout="row" fxLayoutGap="0.5%">
                    <div fxFlex="75%"> 
                            <mat-form-field class="wmgmt">
                                <input type="text" [(ngModel)]="newWaterFood.ice_harv_corn"  [ngModelOptions]="{standalone:true}" matInput placeholder="Harvested Corn">
                              </mat-form-field>   
                    </div> 
                    <div fxFlex="25%">
                        <mat-form-field class="wmgmt"> 
                            <input type="text" [(ngModel)]="this.prev_data['ice_harv_corn']" [disabled]='true' matInput placeholder="">
                        </mat-form-field>
                    </div> 
                </div>
                
                <div fxLayout="row" fxLayoutGap="0.5%">
                    <div fxFlex="75%"> 
                            <mat-form-field class="wmgmt">
                                <input type="text"  [(ngModel)]="newWaterFood.ice_unharv_milo"  [ngModelOptions]="{standalone:true}" matInput placeholder="Unharvested Milo">
                              </mat-form-field>   
                    </div> 
                    <div fxFlex="25%">
                        <mat-form-field class="wmgmt"> 
                
                            <input type="text" [(ngModel)]="this.prev_data['ice_unharv_milo']" [disabled]='true' matInput placeholder="">
                        </mat-form-field>
                    </div> 
                </div>
                <div fxLayout="row" fxLayoutGap="0.5%">
                        <div fxFlex="75%"> 
                                <mat-form-field class="wmgmt">
                                    <input type="text"  [(ngModel)]="newWaterFood.ice_harv_milo"  [ngModelOptions]="{standalone:true}" matInput placeholder="Harvested Milo">
                                  </mat-form-field>   
                        </div> 
                        <div fxFlex="25%">
                            <mat-form-field class="wmgmt"> 
                    
                                <input type="text" [(ngModel)]="this.prev_data['ice_harv_milo']" [disabled]='true' matInput placeholder="">
                            </mat-form-field>
                        </div> 
                    </div>
                    
                    <div fxLayout="row" fxLayoutGap="0.5%">
                            <div fxFlex="75%"> 
                                <mat-form-field class="wmgmt">
                                    <input type="text" [(ngModel)]="newWaterFood.ice_unharv_beans"  [ngModelOptions]="{standalone:true}" matInput placeholder="Unharvested Benas">
                                </mat-form-field>
                            </div> 
                            <div fxFlex="25%">
                                <mat-form-field class="wmgmt" > 
                                    <input type="text" [(ngModel)]="this.prev_data['ice_unharv_beans']" [disabled]='true'  matInput placeholder="">
                                </mat-form-field>
                            </div> 
                    </div>

                    <div fxLayout="row" fxLayoutGap="0.5%">
                        <div fxFlex="75%"> 
                            <mat-form-field class="wmgmt">
                                <input type="text" [(ngModel)]="newWaterFood.ice_harv_beans"  [ngModelOptions]="{standalone:true}" matInput placeholder="Harvested Benas">
                            </mat-form-field>
                        </div> 
                        <div fxFlex="25%">
                            <mat-form-field class="wmgmt"> 
                                <input type="text" [(ngModel)]="this.prev_data['ice_harv_beans']" [disabled]='true'  matInput placeholder="">
                            </mat-form-field>
                        </div> 
                </div>
                        
                        <div fxLayout="row" fxLayoutGap="0.5%">
                            <div fxFlex="75%"> 
                                    <mat-form-field class="wmgmt">
                                        <input type="text" [(ngModel)]="newWaterFood.ice_browse"  [ngModelOptions]="{standalone:true}" matInput placeholder="Green Browse">
                                      </mat-form-field>   
                            </div> 
                            <div fxFlex="25%">
                                <mat-form-field class="wmgmt"> 
                                    <input type="text" [(ngModel)]="this.prev_data['ice_browse']" [disabled]='true' matInput placeholder="">
                                </mat-form-field>
                            </div> 
                        </div> 
            </mat-card>  
        </mat-grid-tile>
        <mat-grid-tile>
                <mat-card>
                    <div fxLayout="column" fxLayoutGap="0.5%">
                            <div> 
                                <mat-form-field class="notes">
                                <textarea [(ngModel)]="newWaterFood.notes"  [ngModelOptions]="{standalone:true}" matInput placeholder="Notes" rows="5" cols="40"></textarea>
                              </mat-form-field>
                            </div> 
                        </div>
            
                        <div fxLayout="column" fxLayoutGap="0.5%">
                                <div> 
                                    <mat-form-field class="notes" *ngIf="this.previous_records">
                                        <textarea [(ngModel)]="this.previous_records.notes" [disabled]='true' matInput placeholder="Notes from Last Entry" rows=5></textarea>
                                  </mat-form-field>
                                </div> 
                        </div>
                      
                        <div fxLayout="column" fxLayoutGap="0.5%">
                              <div> 
                                  <mat-form-field class="notes"> 
                                  <textarea [(ngModel)]="newWaterFood.actions"  [ngModelOptions]="{standalone:true}" matInput placeholder="Management Actions for Upcoming Week" rows=5></textarea>
                                </mat-form-field>
                              </div> 
                          </div>
                          <div fxLayout="column" fxLayoutGap="0.5%">
                            <div> 
                                <mat-form-field class="notes" *ngIf="this.previous_records"> 
                                    <textarea [(ngModel)]="this.previous_records.actions" [disabled]='true' matInput placeholder="Management Actions Recorded Last Entry" rows=5></textarea>
                                </mat-form-field>
                            </div> 
                        </div>
                        <div fxLayout="column" fxLayoutGap="0.5%">
                            <div> 
                                <mat-form-field class="notes">
                                <textarea [(ngModel)]="newWaterFood.response"  [ngModelOptions]="{standalone:true}" matInput placeholder="Response to Last Management Action" rows=5 cols=40></textarea>
                              </mat-form-field>
                            </div> 
                        </div>
                        <div fxLayout="column" fxLayoutGap="0.5%">
                          <div> 
                              <mat-form-field class="notes" *ngIf="this.previous_records"> 
                                  <input type="text" [(ngModel)]="this.previous_records.response" [disabled]='true' matInput placeholder="Last Entry for Response to Last Management Action" rows=10 cols="40">
                              </mat-form-field>
                          </div> 
                      </div>
                          <button *ngIf="globals.role === 'online';" mat-raised-button color="primary" (click)="addData(selected_CA,selected_unit,selected_Pool)">Submit</button>
                          <button *ngIf="globals.role === 'offline';" mat-raised-button color="primary" (click)="local_addData('new')">Push to Local</button>
                          <button mat-raised-button color="primary" (click)="clearNewWaterFood()">Clear Fields</button>
                    </mat-card>
            </mat-grid-tile>       
</mat-grid-list>