.wmgmt{
    width: 80%;
}

.prev{
  width:40%;
}

.notes{
  width:100%;
}
.small_button {
    min-width: 50%;
}

mat-card {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}

.previous{
  font-size: 12px;
}