.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    display: flex;
    box-sizing: border-box;
    /* padding: 0 16px; */
    width: 100%;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  

 mat-sidenav-container{
  margin-top: 0px !important;
}


.example-sidenav-container {
    /*When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
     flex: 1; 
}
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  @media (max-width:767px) {
    .example-app-name {font-size: 18px;}

  }

  @media (max-width:320px) {
    .example-app-name {font-size: 14px;}

  }

  @media (min-width:768px) {
    .example-app-name {font-size: 20px;}
  }



