<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="example-app-name">Waterfowl Wetland Decision Support Tool</h1>
    </mat-toolbar>

<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
    <mat-nav-list>
         <nav>
            <div class="container" fxLayout="column">
                <div fxFlex="14%">
                    <a mat-raised-button routerLink="/watermanagement" color="primary" (click)="snav.toggle()">Daily Water Management</a>
                </div>
                <div fxFlex="14%">
                    <a mat-raised-button color="primary" id="wm_Button" routerLink="/waterfood" (click)="snav.toggle()">Biweekly Water/Food Status</a>
                </div>
                <div fxFlex="20%">
                    <a mat-raised-button color="primary" id="dr_button" routerLink="/fallfood" (click)="snav.toggle()">Food Available Start of Season</a>
                </div>
                <div fxFlex="14%">
                        <a mat-raised-button color="primary" id="dr_button" routerLink="/weather" (click)="snav.toggle()">Daily Weather Observations</a>
                </div>
                <div fxFlex="14%">
                        <a mat-raised-button color="primary" id="dr_button" routerLink="/gaugestats" (click)="snav.toggle()">Pool Gauge Level Stats</a>
                </div>
                <div fxFlex="14%">
                        <a mat-raised-button color="primary" id="dr_button" routerLink="/" (click)="this.change_CA()">Change Conservation Area</a>
                </div>
                <div fxFlex="14%">
                        <a mat-raised-button color="primary" id="dr_button" routerLink="/" (click)="snav.toggle()">Logout</a>
                </div>
              </div>
          </nav> 
    </mat-nav-list>
</mat-sidenav>

<mat-sidenav-content>
    <router-outlet></router-outlet>
</mat-sidenav-content>
</mat-sidenav-container>
</div>




