<!-- 
<mat-form-field class="wmgmt">
<input type="text" [(ngModel)]="watermanagement.past_7_data_master[0]['Elevation']"  [ngModelOptions]="{standalone:true}" matInput placeholder="Stoplog Level">
</mat-form-field> -->

<mat-card>

                <div *ngIf="gate_chart">
                        <p>Gate Level</p>
                        <div>
                        <canvas #gate_level id="gate_level" >{{ gate_chart }}</canvas>
                        </div>
                </div>
                <div *ngIf="stoplog_chart">
                        <p>Stoplog Level</p>
                        <div>
                        <canvas #stoplog_level id="stoplog_level" >{{ stoplog_chart }}</canvas>
                        </div>
                </div>

</mat-card>