<h1>Daily Water Management</h1>
<mat-grid-list [cols]="breakpoint_top" rowHeight="450px" (window:resize)="onResize($event)">
<mat-grid-tile>
    <mat-card class="example-container">
        <h3>Parameters</h3>
            <div>
                <mat-form-field>
                  <input type="text" [(ngModel)]="this.selected_CA" [ngModelOptions]="{standalone:true}" [disabled]='true' matInput placeholder="Conservation Area">
                </mat-form-field>
            </div>
            <div> 
                <mat-form-field>
                    <mat-select placeholder="Pool Unit" [(ngModel)]="selected_unit" (ngModelChange)="getPools(selected_CA,$event)">
                    <mat-option *ngFor="let x of unit_list" [value]="x">
                        {{x}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div> 
                <mat-form-field>
                    <mat-select placeholder="Pools" [(ngModel)]="selected_Pool" (ngModelChange)="getWCS(selected_CA,selected_unit,$event)">
                    <mat-option *ngFor="let x of Pool_list" [value]="x">
                        {{x}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> 
            <div> 
                <mat-form-field>
                        <mat-select placeholder="Water Control Structure" [(ngModel)]="selected_wcs" (ngModelChange)="getDates(selected_CA,selected_unit,selected_Pool,$event)">
                        <mat-option *ngFor="let x of wcs_list" [value]="x">
                        {{x}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> 
            <div> 
                <mat-form-field>
                    <mat-select placeholder="Date" [(ngModel)]="selected_date" (ngModelChange)="populate_page_with_data(selected_CA,selected_unit,selected_Pool,selected_wcs,$event)">
                    <mat-option *ngFor="let x of date_list" [value]="x">
                        {{x}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutGap="0.5%">
                <div fxFlex="50%">
                </div>
                <div fxFleX="50%">  
                    <div>
                        <button mat-raised-button color="primary" (click)="openBottomSheet()">Activity Last 7 Days</button>
                    </div>
                </div>
            </div>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>


  <mat-grid-list [cols]="breakpoint" rowHeight="1000px" (window:resize)="onResize($event)">
  <mat-grid-tile>
  <mat-card class="example-container">
  <div fxLayout="row"  fxLayoutGap="5%">
      <div fxFlex="70%"> 
          <mat-form-field class="prev" *ngIf="data_length>0">  
          <input type="text" [(ngModel)]="this.prev_data_master[0]['Date']" [disabled]='true' matInput placeholder="Last Record Date">
          </mat-form-field>
      </div> 
  </div>
  

  <div fxLayout="row"  fxLayoutGap="5%">
        <div fxFlex="60%"> 
        </div> 
        <div class="previous" fxFlex="40%"> 
            Previous Record Date
        </div> 
  </div>

  <div fxLayout="row" fxLayoutGap="5%">
      <div fxFlex="60%">
          <mat-form-field class="wmgmt">
              <input type="text" [(ngModel)]="newWaterManagement.Elevation"  [ngModelOptions]="{standalone:true}" matInput placeholder="Elevation" (change)="updateChart('elevation')">
          </mat-form-field>
      </div> 
      <div fxFlex="40%"> 
          <mat-form-field class="prev" *ngIf="data_length>0"> 
              <input type="text" [(ngModel)]="this.prev_data_master[0]['Elevation']" [disabled]='true' matInput placeholder="" >
          </mat-form-field>
      </div> 
  </div>

  <div fxLayout="row" fxLayoutGap="5%">
      <div fxFlex="60%"> 
          <mat-form-field class="wmgmt"  width="75%">
              <input type="text" [(ngModel)]="newWaterManagement.Gate_manipulation"  [ngModelOptions]="{standalone:true}" matInput placeholder="Gate Manipulation">
          </mat-form-field>
      </div> 
      <div fxFlex="40%">
          <mat-form-field class="prev" *ngIf="data_length>0"> 
              <input type="text" [(ngModel)]="prev_data_master[0]['Gate_manipulation']"  [disabled]='true' matInput placeholder="">
          </mat-form-field>
      </div> 
  </div>

  <div fxLayout="row" fxLayoutGap="5%">
      <div fxFlex="60%"> 
          <mat-form-field class="wmgmt">
              <input type="text" [(ngModel)]="newWaterManagement.Gate_level"  [ngModelOptions]="{standalone:true}" matInput placeholder="Gate Level" (change)="updateChart('gate_level')">
          </mat-form-field>
      </div> 
      <div fxFlex="40%">
          <mat-form-field class="prev" *ngIf="data_length>0"> 
              <input type="text" [(ngModel)]="prev_data_master[0]['Gate_level']"  [disabled]='true' matInput placeholder="">
          </mat-form-field>
        </div> 
    </div>
  <div fxLayout="row" fxLayoutGap="5%">
      <div fxFlex="60%"> 
          <mat-form-field class="wmgmt">
              <input type="text" [(ngModel)]="newWaterManagement.Stoplog_change"  [ngModelOptions]="{standalone:true}" matInput placeholder="Stoplog Change">
          </mat-form-field>
      </div> 
      <div fxFlex="40%">
          <mat-form-field class="prev" *ngIf="data_length>0" > 
              <input type="text" [(ngModel)]="prev_data_master[0]['Stoplog_change']" [disabled]='true' matInput placeholder="">
          </mat-form-field>
      </div> 
  </div>

  <div fxLayout="row" fxLayoutGap="5%">
      <div fxFlex="60%"> 
          <mat-form-field class="wmgmt">
              <input type="text" [(ngModel)]="newWaterManagement.Stoplog_level"  [ngModelOptions]="{standalone:true}" matInput placeholder="Stoplog Level">
          </mat-form-field>
      </div> 
      <div fxFlex="40%">
          <mat-form-field class="prev" *ngIf="data_length>0" > 
              <input type="text" [(ngModel)]="prev_data_master[0]['Stoplog_level']" [disabled]='true'  matInput placeholder="">
          </mat-form-field>
      </div> 
  </div>

  <div fxLayout="row" fxLayoutGap="5%">
      <div fxFlex="60%"> 
              <mat-form-field class="wmgmt">
                  <input type="text" [(ngModel)]="newWaterManagement.Duck_numbers"  [ngModelOptions]="{standalone:true}" matInput placeholder="Duck Numbers" (change)="updateChart('bird_nums')">
                </mat-form-field>   
      </div> 
      <div fxFlex="40%">
          <mat-form-field class="prev" *ngIf="data_length>0">
              <input type="text" [(ngModel)]="prev_data_master[0]['Duck_numbers']" [disabled]='true' matInput placeholder="">
          </mat-form-field>
      </div> 
  </div>

  <div fxLayout="row" fxLayoutGap="5%">
      <div fxFlex="60%"> 
              <mat-form-field class="wmgmt">
                  <input type="text"  [(ngModel)]="newWaterManagement.Goose_numbers"  [ngModelOptions]="{standalone:true}" matInput placeholder="Goose Numbers" (change)="updateChart('bird_nums')">
                </mat-form-field>   
      </div> 
      <div fxFlex="40%">
          <mat-form-field class="prev" *ngIf="data_length>0"> 
              <input type="text" [(ngModel)]="prev_data_master[0]['Goose_numbers']" [disabled]='true' matInput placeholder="">
          </mat-form-field>
          
      </div> 
  </div>

  <div fxLayout="row"  fxLayoutGap="5%">
        <div fxFlex="80%">
                <mat-form-field class="prev"> 
                    <input type="text" [(ngModel)]="newWaterManagement.Fiscal_year" matInput placeholder="Fiscal Year">
                </mat-form-field>
        </div> 
    </div>

  <mat-sidenav #rightSidenav mode="side"  class="rightSidenav"
  [fixedInViewport]="true" [fixedTopGap]="250">
    <p>{{Graph_Title}}</p>

  </mat-sidenav>
  
  
</mat-card>
</mat-grid-tile>

<mat-grid-tile *ngIf="this.mode==='create record'">
<mat-card>



        <div fxLayout="column" fxLayoutGap="0.5%">


            <div fxFlex="5%" *ngIf="chart">
              <p>Water Elevation</p>
              <canvas id="canvas_elevation" >{{ chart }}</canvas>
            </div>

        <div fxFlex="5%" *ngIf="chart">
                <p>Gate Level</p>
                <canvas id="canvas_gate_level" >{{ chart }}</canvas>
          </div>

          <div fxFlex="5%" *ngIf="chart">
                <p>Number of Ducks and Geese</p>
                <canvas id="canvas_birds" >{{ chart }}</canvas>
          </div>
        </div>
</mat-card>
</mat-grid-tile>

<mat-grid-tile>
    <mat-card>
        <div fxLayout="row" fxLayoutGap="0.5%">
                <div fxFlex="100%"> 
                    <mat-form-field class="notes">
                    <textarea [(ngModel)]="newWaterManagement.Notes"  [ngModelOptions]="{standalone:true}" matInput placeholder="Notes" rows="10" cols="40"></textarea>
                  </mat-form-field>
                </div> 
            </div>

          
            <div fxLayout="row" fxLayoutGap="0.5%">
                  <div fxFlex="100%"> 
                      <mat-form-field class="notes">
                      <textarea [(ngModel)]="newWaterManagement.Reasons"  [ngModelOptions]="{standalone:true}" matInput placeholder="Reason for Mangement Action" rows=10></textarea>
                    </mat-form-field>
                  </div> 
            </div>
<!--               <button *ngIf="this.status === 'online';"  mat-raised-button color="primary" (click)="addWaterManagement(selected_CA,selected_unit,selected_Pool,selected_wcs,selected_date)">Push to Cloud</button> -->
<!--               <button *ngIf="this.status === 'offline';" mat-raised-button color="primary" (click)="localaddWatermanagement('new')">Push to Local</button> -->

                <button mat-raised-button color="primary" (click)="addData()">Submit</button>
              <button mat-raised-button color="primary" (click)="clearNewWaterManagement()">Clear Fields</button>
              <button mat-raised-button color="primary" (click)="DeleteRecord(this.newWaterManagement)">Delete Record</button>
        </mat-card>
</mat-grid-tile>       


</mat-grid-list>