  <h1>Water Management</h1>
  <mat-grid-list [cols]="breakpoint" rowHeight="900px" (window:resize)="onResize($event)">
  <mat-grid-tile>
  <mat-card class="example-container">
  <div fxLayout="row"  fxLayoutGap="0.5%">
        <div fxFlex="50%"> 
        </div> 
        <div class="previous" fxFlex="40%"> 
            Previous Entry
        </div> 
  </div>
  <div fxLayout="row"  fxLayoutGap="0.5%">
      <div fxFlex="50%"> 
          <mat-form-field class="wmgmt" style="font-size: 15px">
          <input type="text" [(ngModel)]="newWaterManagement.date" [ngModelOptions]="{standalone:true}" matInput placeholder="Month/Day">
          </mat-form-field>
      </div> 
      <div fxFlex="40%"> 
          <mat-form-field class="prev" *ngIf="this.previous_records">  
          <input type="text" [(ngModel)]="this.previous_records.date" [disabled]='true' matInput placeholder="">
          </mat-form-field>
      </div> 
  </div>
  
  <div fxLayout="row" fxLayoutGap="0.5%">
    <div fxFlex="50%">
        <mat-form-field>
        <input type="text" [(ngModel)]="newWaterManagement.pool" [ngModelOptions]="{standalone:true}" matInput placeholder="Pool">
        </mat-form-field>
    </div>
  </div>

  <div fxLayout="row" fxLayoutGap="0.5%" >
      <div fxFlex="50%">
        <mat-form-field>
            <input type="text" [(ngModel)]="newWaterManagement.structure" [ngModelOptions]="{standalone:true}"  matInput placeholder="Structure">
        </mat-form-field>
      </div>
  </div>

  <div fxLayout="row"  fxLayoutGap="0.5%">
        <div fxFlex="50%"> 
        </div> 
        <div class="previous" fxFlex="40%"> 
            Previous Entry
        </div> 
  </div>

  <div fxLayout="row" fxLayoutGap="0.5%">
      <div fxFlex="50%">
          <mat-form-field class="wmgmt">
              <input type="text" [(ngModel)]="newWaterManagement.elevation"  [ngModelOptions]="{standalone:true}" matInput placeholder="Elevation">
          </mat-form-field>
      </div> 
      <div fxFlex="25%"> 
          <mat-form-field class="prev" *ngIf="this.previous_records" > 
              <input type="text" [(ngModel)]="this.previous_records.elevation" [disabled]='true' matInput placeholder="">
          </mat-form-field>
      </div> 
      <div fxFlex="5%">
          
        <button  mat-mini-fab color="primary" [class.active]="toggleActive" (click)="updateChart('elevation')"> Plot </button>
      </div>
  </div>

  <div fxLayout="row" fxLayoutGap="0.5%">
      <div fxFlex="50%"> 
          <mat-form-field class="wmgmt"  width="75%">
              <input type="text" [(ngModel)]="newWaterManagement.gate_manipulation"  [ngModelOptions]="{standalone:true}" matInput placeholder="Gate Manipulation">
          </mat-form-field>
      </div> 
      <div fxFlex="25%">
          <mat-form-field class="prev" *ngIf="this.previous_records"> 
              <input type="text" [(ngModel)]="this.previous_records.gate_manipulation" [disabled]='true' matInput placeholder="">
          </mat-form-field>
      </div> 
  </div>

  <div fxLayout="row" fxLayoutGap="0.5%">
      <div fxFlex="50%"> 
          <mat-form-field class="wmgmt">
              <input type="text" [(ngModel)]="newWaterManagement.gate_level"  [ngModelOptions]="{standalone:true}" matInput placeholder="Gate Level">
          </mat-form-field>
      </div> 
      <div fxFlex="25%">
          <mat-form-field class="prev" *ngIf="this.previous_records"> 
              <input type="text" [(ngModel)]="this.previous_records.gate_level" [disabled]='true' matInput placeholder="">
          </mat-form-field>
        </div> 
        <div fxFlex="5%">
            <button  mat-mini-fab color="primary" [class.active]="toggleActive" (click)="updateChart('gate_level')">Plot </button>
        </div>
    </div>
  <div fxLayout="row" fxLayoutGap="0.5%">
      <div fxFlex="50%"> 
          <mat-form-field class="wmgmt">
              <input type="text" [(ngModel)]="newWaterManagement.stoplog_change"  [ngModelOptions]="{standalone:true}" matInput placeholder="Stoplog Change">
          </mat-form-field>
      </div> 
      <div fxFlex="25%">
          <mat-form-field class="prev" *ngIf="this.previous_records" > 
              <input type="text" [(ngModel)]="this.previous_records.stoplog_change" [disabled]='true' matInput placeholder="">
          </mat-form-field>
      </div> 
  </div>

  <div fxLayout="row" fxLayoutGap="0.5%">
      <div fxFlex="50%"> 
          <mat-form-field class="wmgmt">
              <input type="text" [(ngModel)]="newWaterManagement.stoplog_level"  [ngModelOptions]="{standalone:true}" matInput placeholder="Stoplog Level">
          </mat-form-field>
      </div> 
      <div fxFlex="25%">
          <mat-form-field class="prev" *ngIf="this.previous_records" > 
              <input type="text" [(ngModel)]="this.previous_records.stoplog_level" [disabled]='true'  matInput placeholder="">
          </mat-form-field>
      </div> 
  </div>

  <div fxLayout="row" fxLayoutGap="0.5%">
      <div fxFlex="50%"> 
              <mat-form-field class="wmgmt">
                  <input type="text" [(ngModel)]="newWaterManagement.duck_numbers"  [ngModelOptions]="{standalone:true}" matInput placeholder="Duck Numbers">
                </mat-form-field>   
      </div> 
      <div fxFlex="25%">
          <mat-form-field class="prev" *ngIf="this.previous_records"> 
              <input type="text" [(ngModel)]="this.previous_records.duck_numbers" [disabled]='true' matInput placeholder="">
          </mat-form-field>
      </div> 
  </div>

  <div fxLayout="row" fxLayoutGap="0.5%">
      <div fxFlex="50%"> 
              <mat-form-field class="wmgmt">
                  <input type="text"  [(ngModel)]="newWaterManagement.goose_numbers"  [ngModelOptions]="{standalone:true}" matInput placeholder="Goose Numbers">
                </mat-form-field>   
      </div> 
      <div fxFlex="25%">
          <mat-form-field class="prev" *ngIf="this.previous_records"> 
              <input type="text" [(ngModel)]="this.previous_records.goose_numbers" [disabled]='true' matInput placeholder="">
          </mat-form-field>
          
      </div> 
      <div fxFlex="5%">
        <button  mat-mini-fab color="primary" [class.active]="toggleActive" (click)="updateChart('bird_nums')">Plot </button>
      </div>
  </div>

  <mat-sidenav #rightSidenav mode="side"  class="rightSidenav"
  [fixedInViewport]="true" [fixedTopGap]="250">
    <p>{{Graph_Title}}</p>

<!--     <div *ngIf="chart">
    <canvas id="canvas">{{ chart }}</canvas>
    </div>  -->
  </mat-sidenav>
  
  
</mat-card>
</mat-grid-tile>

<mat-grid-tile>
<mat-card>
        <div fxLayout="column" fxLayoutGap="0.5%">
            <div fxFlex="5%" *ngIf="chart">
              <p>Water Elevation</p>
              <canvas id="canvas_elevation" >{{ chart }}</canvas>
            </div>

        <div fxFlex="5%" *ngIf="chart">
                <p>Gate Level</p>
                <canvas id="canvas_gate_level" >{{ chart }}</canvas>
          </div>

          <div fxFlex="5%" *ngIf="chart">
                <p>Number of Ducks and Geese</p>
                <canvas id="canvas_birds" >{{ chart }}</canvas>
          </div>
        </div>
</mat-card>
</mat-grid-tile>

<mat-grid-tile>
    <mat-card>
        <div fxLayout="row" fxLayoutGap="0.5%">
                <div fxFlex="100%"> 
                    <mat-form-field class="notes">
                    <textarea [(ngModel)]="newWaterManagement.notes"  [ngModelOptions]="{standalone:true}" matInput placeholder="Notes" rows="10" cols="40"></textarea>
                  </mat-form-field>
                </div> 
            </div>

            <div fxLayout="row" fxLayoutGap="0.5%">
                    <div fxFlex="100%"> 
                        <mat-form-field *ngIf="this.previous_records" class="notes">
                            <textarea [(ngModel)]="this.previous_records.notes" [disabled]='true' matInput placeholder="Previous Notes" rows=10></textarea>
                      </mat-form-field>
                    </div> 
            </div>
          
            <div fxLayout="row" fxLayoutGap="0.5%">
                  <div fxFlex="100%"> 
                      <mat-form-field class="notes">
                      <textarea [(ngModel)]="newWaterManagement.reasons"  [ngModelOptions]="{standalone:true}" matInput placeholder="Reason for Mangement Action" rows=10></textarea>
                    </mat-form-field>
                  </div> 
              </div>
              <button mat-raised-button color="primary" (click)="addWaterManagement()">Add to Local Database</button>
              <button mat-raised-button color="primary" (click)="clearNewWaterManagement()">Clear Fields</button>
        </mat-card>
</mat-grid-tile>       


</mat-grid-list>