<h1>Daily Weather Observations</h1>

<mat-grid-list [cols]="breakpoint_top" rowHeight="250px" (window:resize)="onResize($event)">
    <mat-grid-tile>
    <mat-card class="example-container">
            <h3>Parameters</h3>
            <div>
                <mat-form-field>
                  <input type="text" [(ngModel)]="this.selected_CA" [ngModelOptions]="{standalone:true}" [disabled]='true' matInput placeholder="Conservation Area">
                </mat-form-field>
            </div>
            <div> 
                      <mat-form-field>
                          <mat-select placeholder="Date" [(ngModel)]="selected_date" (ngModelChange)="populate_page_with_data(this.selected_CA,$event)">
                          <mat-option *ngFor="let x of date_list" [value]="x">
                              {{x}}
                          </mat-option>
                          </mat-select>
                      </mat-form-field>
            </div>
    </mat-card>  
    </mat-grid-tile>
</mat-grid-list>

<mat-grid-list [cols]="breakpoint_top" rowHeight="800px" (window:resize)="onResize($event)">   
    <mat-grid-tile>
        <mat-card>

          <div>
            <mat-form-field>
              <input type="text" [(ngModel)]="newWeather.area_ice" [ngModelOptions]="{standalone:true}" matInput placeholder="Percent Area Covered in Ice">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
                <input type="text" [(ngModel)]="newWeather.ice_thick" [ngModelOptions]="{standalone:true}" matInput placeholder="Thickness of Ice">
            </mat-form-field>
          </div>

            <div>
              <mat-form-field>
                <input type="text" [(ngModel)]="newWeather.low_temp" [ngModelOptions]="{standalone:true}" matInput placeholder="Low Temperture">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                  <input type="text" [(ngModel)]="newWeather.wind_dir" [ngModelOptions]="{standalone:true}" matInput placeholder="Wind Direction">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <input type="text" [(ngModel)]="newWeather.wind_speed" [ngModelOptions]="{standalone:true}" matInput placeholder="Wind Speed (mph)">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                  <input type="text" [(ngModel)]="newWeather.river_stage" [ngModelOptions]="{standalone:true}" matInput placeholder="River Stage">
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <input type="text" [(ngModel)]="newWeather.other_observations" [ngModelOptions]="{standalone:true}" matInput placeholder="Other Weather Observations">
              </mat-form-field>
            </div>
        <button mat-raised-button color="primary" (click)="addData()">Submit</button>
        <button mat-raised-button color="primary" (click)="clearNewWeather()">Clear Fields</button> 
  </mat-card>
</mat-grid-tile>
</mat-grid-list>


