<h1>Daily Weather Observations</h1>

<p *ngIf="joke">{{ joke.value }}</p>

<mat-grid-list cols="2" rowHeight="80px">
    <form class="example-container">
      <mat-grid-tile>
          <mat-form-field class="text">
              <input type="text" [(ngModel)]="newWeather.month" [ngModelOptions]="{standalone:true}" matInput placeholder="Month">
          </mat-form-field>
      </mat-grid-tile>
       <mat-grid-tile>
          <mat-form-field>
              <input type="text" [(ngModel)]="newWeather.day" [ngModelOptions]="{standalone:true}" matInput placeholder="Day">
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-form-field>
                <input type="text" [(ngModel)]="newWeather.area_ice" [ngModelOptions]="{standalone:true}" matInput placeholder="Percent Area Covered in Ice">
            </mat-form-field>
        </mat-grid-tile>
         <mat-grid-tile>
            <mat-form-field>
                <input type="text" [(ngModel)]="newWeather.ice_thick" [ngModelOptions]="{standalone:true}" matInput placeholder="Thickness of Ice">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
              <mat-form-field>
                  <input type="text" [(ngModel)]="newWeather.low_temp" [ngModelOptions]="{standalone:true}" matInput placeholder="Low Temperture">
              </mat-form-field>
          </mat-grid-tile>
           <mat-grid-tile>
              <mat-form-field>
                  <input type="text" [(ngModel)]="newWeather.wind_dir" [ngModelOptions]="{standalone:true}" matInput placeholder="Wind Direction">
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <input type="text" [(ngModel)]="newWeather.wind_speed" [ngModelOptions]="{standalone:true}" matInput placeholder="Wind Speed">
                </mat-form-field>
            </mat-grid-tile>
             <mat-grid-tile>
                <mat-form-field>
                    <input type="text" [(ngModel)]="newWeather.river_stage" [ngModelOptions]="{standalone:true}" matInput placeholder="River Stage">
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile>
                  <mat-form-field>
                       <textarea [(ngModel)]="newWeather.other_observations"  [ngModelOptions]="{standalone:true}" matInput placeholder="Other Weather Observations"></textarea>
                     </mat-form-field>
               </mat-grid-tile>
               <mat-grid-tile>
                  <mat-form-field>
                      <input type="text" [(ngModel)]="newWeather.year" [ngModelOptions]="{standalone:true}" matInput placeholder="Year">
                  </mat-form-field>
                </mat-grid-tile>


 <!---      <mat-grid-tile>
         <mat-form-field>
              <textarea [(ngModel)]="newWaterManagement.notes"  [ngModelOptions]="{standalone:true}" matInput placeholder="Notes"></textarea>
            </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
              <input type="text" [(ngModel)]="newWaterManagement.pool" [ngModelOptions]="{standalone:true}" matInput placeholder="Pool">
            </mat-form-field> 
      </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
              <input type="text" [(ngModel)]="newWaterManagement.structure" [ngModelOptions]="{standalone:true}"  matInput placeholder="Structure">
            </mat-form-field>  
      </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
              <input type="text" [(ngModel)]="newWaterManagement.elevation"  [ngModelOptions]="{standalone:true}" matInput placeholder="Elevation">
            </mat-form-field>   
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input type="text"  matInput placeholder="PrevElevation">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
              <textarea  matInput placeholder="Previous Notes"></textarea>
            </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
              <input type="text" [(ngModel)]="newWaterManagement.gate_manipulation"  [ngModelOptions]="{standalone:true}" matInput placeholder="Gate Manipulation">
            </mat-form-field>   
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
            <input type="text"  matInput placeholder="PrevElevation">
          </mat-form-field>
        </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
              <input type="text" [(ngModel)]="newWaterManagement.gate_level"  [ngModelOptions]="{standalone:true}" matInput placeholder="Gate Level">
            </mat-form-field>   
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
            <input type="text"  matInput placeholder="PrevGate_Level">
          </mat-form-field>
        </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
              <textarea [(ngModel)]="newWaterManagement.reasons"  [ngModelOptions]="{standalone:true}" matInput placeholder="Reasons for management action:"></textarea>
            </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
              <input type="text" [(ngModel)]="newWaterManagement.stoplog_change"  [ngModelOptions]="{standalone:true}" matInput placeholder="Stoplog Change">
            </mat-form-field>   
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
            <input type="text"  matInput placeholder="Prev Stoplog Change">
          </mat-form-field>
        </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
              <input type="text" [(ngModel)]="newWaterManagement.stoplog_level"  [ngModelOptions]="{standalone:true}" matInput placeholder="Stoplog Level">
            </mat-form-field>   
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
            <input type="text"  matInput placeholder="PrevStoploglevel">
          </mat-form-field>
        </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
              <input type="text" [(ngModel)]="newWaterManagement.duck_numbers"  [ngModelOptions]="{standalone:true}" matInput placeholder="Duck Numbers">
            </mat-form-field>   
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
            <input type="text"  matInput placeholder="PrevDuckNumbers">
          </mat-form-field>
        </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
              <input type="text" [(ngModel)]="newWaterManagement.goose_numbers"  [ngModelOptions]="{standalone:true}" matInput placeholder="Goose Numbers">
            </mat-form-field>  
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
            <input type="text"  matInput placeholder="PrevDuckNumbers">
          </mat-form-field>
        </mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
              <input type="text" [(ngModel)]="newWaterManagement.year"  [ngModelOptions]="{standalone:true}" matInput placeholder="Year">
            </mat-form-field>  
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
              <input type="text" [(ngModel)]="newWaterManagement.fiscal_year"  [ngModelOptions]="{standalone:true}" matInput placeholder="Fiscal Year">
            </mat-form-field>  
      </mat-grid-tile>
      <mat-grid-tile>
          <mat-form-field>
              <input type="text" [(ngModel)]="newWaterManagement.time"  [ngModelOptions]="{standalone:true}" matInput placeholder="Time">
            </mat-form-field>  
      </mat-grid-tile> -->
    </form>
  </mat-grid-list>
  
  <button mat-raised-button color="primary" (click)="addWeather()">Add to Local Database</button>
  <button mat-raised-button color="primary" (click)="clearNewWeather()">Clear Fields</button>